/* Resetter */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  object-fit: cover;
  max-width: 100%;
  /*   filter: grayscale(100%); */
}

/* Color Properties */
:root {
  --color-darker: #0b1036;
  --color-dark: rgb(64, 64, 64);
  --color-graphics: #566bb3;
  --color-light: #f5f0eb;
  --color-lighter: rgb(255, 255, 255);
  --color-header: #6e8ae65e;
  /* you could add an accent color for CTAs and anchor tags ;-) */
  --font-display: "Abril Fatface", cursive;
  --font-paragraph: "Work Sans", sans-serif;
}

html {
  font-size: 100%;
}

body {
  background: white;
  font-family: var(--font-paragraph);
  font-weight: 400;
  line-height: 1.9;
  color: #000000;
}

/* Fonts */
h1,
h2,
h3 {
  color: var(--color-darker);
  margin: 3rem 0 1.38rem;
  font-family: "Abril Fatface", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

p {
  color: var(--color-dark);
  margin-bottom: 1rem;
}

.info_text > p:nth-child(2) {
  margin-bottom: 2rem;
  max-width: 75ch;
}

.card {
  /*make it posible to change position of the card*/

  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
  cursor: pointer;
  margin-top: 1rem;

  width: 250px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;

  justify-content: inherit;
}

.card:hover {
  top: -2px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.card_name {
  color: var(--color-darker);
  margin: 0.7rem 0 0;
  font-family: "Work sans", sans-serif;
  /*  font-size: 1.563rem; */
  font-size: 1.25rem;
  font-weight: bolder;
  padding-inline: 1rem;
}

.card p {
  overflow-wrap: break-word;
  padding-inline: 1rem;
}

.card_slogan,
.card_title {
  margin: 0;
}

.card_slogan {
  margin-block: 0.7rem 0.5rem;

  font-style: italic;
}

.card_title {
  line-height: 1.4;
}

.card_mail {
  margin-bottom: 0.2rem;
}

#contact h2 {
  max-width: 24ch;
}

/* UI Elements */
button {
  display: inline-block;
  height: 3rem;
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-graphics);
  color: var(--color-lighter);
  position: relative;
  top: 0;
  transition: 0.2s ease-out;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

.light_button {
  background-color: var(--color-lighter);
  color: var(--color-darker);
}

input[type="text"] {
  box-sizing: border-box;
  width: 250px;
  height: 3rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  text-align: left;
  background-color: var(--color-lighter);
  border-color: var(--color-light);
  color: var(--color-dark);
}

.align_buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-inline: 1rem;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card_button_negative,
.card_button_positive {
  font-family: var(--font-paragraph);

  padding-inline: 1.7rem;
  padding-block: 0.5rem;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.card_button_negative {
  border: none;
  background-color: black;
  color: white;
}

.card_button_negative:hover {
  background-color: lightgrey;
  color: black;
}

.card_button_positive {
  border: none;
  background-color: var(--color-graphics);
  color: white;
}

.card_button_positive:hover {
  background-color: lightgrey;
  color: black;
}

/* Menu */
nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-darker);
}

nav a {
  color: white;
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-header);
}

.header_text {
  width: 40vw;
  min-width: 300px;
}

.header_text h1 {
  color: var(--color-darker);
}

.header_text p {
  color: var(--color-darker);
}

.header_graphics {
  width: 35vw;
  height: 35vw;
  min-width: 300px;
  min-height: 300px;
  background-color: var(--color-graphics);
}

/* Sections */
#intro {
  display: flex;
  min-height: 80vh;
  padding: 0px 15rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-light);
}

.intro_text {
  width: 40vw;
  min-width: 450px;
}

.intro_graphics {
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  background-color: var(--color-darker);
}

#cards {
  min-height: 80vh;
  padding: 5rem 2rem;
}

#card_container {
  /*  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  justify-items: center; */

  display: flex;
  /*   min-width: 250px; */

  justify-content: space-evenly;
  flex-wrap: wrap;
  /*  align-items: flex-end; */
}

#info {
  display: flex;
  min-height: 80vh;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light);
}

.info_text {
  width: 60vw;
  min-width: 300px;
  margin-bottom: 2rem;
}

#contact {
  display: flex;
  min-height: 80vh;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
}

/* Footer */
footer {
  display: flex;
  padding: 5vh 2rem;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-darker);
  color: var(--color-lighter);
}

footer h2,
h3 {
  color: var(--color-lighter);
}

footer a {
  color: var(--color-light);
}

footer section {
  display: flex;
  max-width: 50vw;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer section div {
  margin: 0px 1rem 1rem 1rem;
}
